export CERT_NAME=*.boot2docker.local
export HOSTNAME=boot2docker.local
export INFLUXDB_PASS=abc123XYZ
export GRAFANA_PASS=supersecretpassword123
export GRAFANA_SECRET_KEY=1bj12_zj45Q1nlp-6Yzk7q_vC3n
export AUTH_GOOGLE_CLIENT_ID=123456789012-abcdefghikjlmnopqrstuvwxyz123456.apps.googleusercontent.com
export AUTH_GOOGLE_CLIENT_SECRET=abcdefghijklmnop21345676

